.main-product-about {
    height: 470px;
    position: relative;
    text-align: center;
    padding: 84px 0 120px;
    margin-top: 37px;
    background: url("../image/bgr-img-about.png") center;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: #000;
        opacity: 0.6000000238418579;
    }
    .desc {
        text-align: center;
        max-width: 976px;
        margin-top: 60px;
        font-size: 20px;
        line-height: 1.3;
        img {
            position: absolute;
        }
        img:first-of-type {
            top: -55px;
            left: -165px;
        }
        img:last-of-type {
            right: -155px;
            top: 96px;
            transform: rotate(180deg);
        }
    }
    .heading,
    .desc {
        position: relative;
        z-index: 1;
        color: #fff;
    }
}
@media screen and (max-width: 1399px) {
}
