.container {
    --container-width: 1440px;
}
.margin-ct {
    margin: 0 auto;
}
.header-sticky {
    position: sticky;
    top: -10px;
    z-index: 2;
    background: #fff;
}

.btn {
    $height: 56px;
    display: inline-block;
    min-width: 213px;
    height: $height;
    line-height: $height;
    border-radius: 8px;
    background: $primaryColor;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
        background: $secondColor;
    }
}
.news-body {
    --column-space: 28px;
    margin-top: 60px;
    .article {
        .art-img {
            img {
                object-fit: cover;
                display: block;
            }
        }

        border-radius: 8px;
    }
    .art-row {
        font-size: 1.8rem;

        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        .title a {
            color: $primaryColor;
        }
    }
    .art-row-date {
        display: flex;
        column-gap: 12px;
    }
    .news-body-heading {
        margin: 19px 0;
        font-size: 2.4rem;
        font-weight: 600;
        max-width: 475px;
        line-height: 1.33;
    }
    .news-body-desc {
        line-height: 1.53;
    }
}

.form-content {
    margin: 67px 0 0 10px;
    .heading {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.33;
        margin-bottom: 32px;
    }
    input,
    textarea {
        padding: 16px;
        border-radius: 8px;
        border: 1px solid #a3a3a3;
        width: 100%;
        font-size: 1.8rem;
    }

    .group-item {
        display: flex;
        column-gap: 21px;
        margin: 28px 0;
    }
    .button {
        margin-top: 23px;
        text-align: right;
    }
    .form-btn {
        min-width: 154px;
        font-size: 1.8rem;
    }
}

.news-link {
    border-radius: 8px;
    background: #fff;
    color: $textColor;
    border: 1px solid $primaryColor;
    font-size: 2rem;
    font-weight: 700;
    min-width: 184px;
    text-align: center;
    img {
        position: relative;
        top: 7px;
    }
}

$breakpoints: (
    xxl: 1399,
    xl: 1199,
    lg: 991,
    md: 767,
    sm: 575,
);

@each $name, $breakpoint in $breakpoints {
    @media screen and (max-width:#{$breakpoint}px) {
        @include display($name);
    }
}

.section-heading {
    font-size: 3.8rem;
    font-weight: 800;
    line-height: 1.31;
}
.section-desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.53;
}
