.product-page_feature {
    .container {
        --container-padding: 0;
    }
    margin-top: 160px;
    .inner {
        display: flex;
        align-items: center;
        justify-content: end;
        .media {
            margin-top: -42px;
            width: 676px;
            height: 477px;
        }
        .info {
            margin: 23px -30px 0 0;
        }
        .desc {
            margin-top: 19px;
            max-width: 440px;
        }
    }
}
@media screen and (max-width: 1599px) {
    .product-page_feature {
        .container {
            --container-padding: 30px;
        }
    }
}
@media screen and (max-width: 1199px) {
    .product-page_feature {
        .inner {
            .media {
                width: 65%;
            }
            .info {
                margin-top: 0;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .product-page_feature {
        .inner {
            position: relative;
            justify-content: space-between;
            .media {
                height: auto;
                top: 60px;
                right: 0;
                width: 55%;
                position: absolute;
                z-index: -1;
                opacity: 0.35;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .product-page_feature {
        margin-bottom: 150px;
        .inner {
            .media {
                width: 65%;
                bottom: 0;
            }
            .info {
                margin: 0;
                .desc {
                    max-width: 100%;
                }
                .heading {
                    font-size: 3.4rem;
                }
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .product-page_feature {
        margin-top: 80px;
        margin-bottom: 0;
        .inner {
            .media {
                display: none;
            }
            .info {
                padding: 20px;
                background: #f2ffec;
            }
        }
    }
}
