.product-page_instruction {
    margin-top: 120px;
    .container {
        --container-padding: 0;
        --container-width: 1389px;
    }
    .instruction-header {
        text-align: center;
        max-width: 457px;
        .section-desc {
            margin-top: 30px;
        }
    }
    .instruction-row {
        .item {
            position: relative;
            transform: translate(-10%, -10%);
            width: 148px;
            height: 148px;
            border-radius: 50%;
            background: #fff0e7;
            z-index: -1;
        }
        display: flex;
        justify-content: center;
        column-gap: 209px;
        counter-reset: instruction-count;
        margin-top: 74px;
        .item-content {
            position: absolute;
            transform: translateX(59%);
            margin-top: 38px;
            counter-increment: instruction-count;
            max-width: 162px;
            line-height: 1.53;
            &::after {
                position: absolute;
                top: -23px;
                left: -12px;
                transform: translateX(-100%);
                content: "0" counter(instruction-count);
                font-size: 100px;
                font-weight: 800;
                line-height: 1.21;
                opacity: 0.2;
            }
        }
    }
    .instruction-end {
        margin-top: 124px;
        .container {
            width: 100%;
        }

        .content {
            display: flex;
            column-gap: 54px;
            justify-content: flex-end;
            .desc {
                padding: 109px 62px 56px 75px;
                border: 10px solid;
                border-radius: 0px 10px 10px 0px;
                border-color: transparent transparent transparent #46b20f;
                font-size: 2.4rem;
                line-height: 1.54;
                width: 784px;
                height: 420px;
                box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
            }
            .image {
                margin-top: 43px;
                width: 706px;
            }
        }
    }
}

@media screen and (max-width: 1599px) {
    .instruction-end {
        .content {
            padding-left: 150px;
        }
    }
}

@media screen and (max-width: 1399px) {
    .product-page_instruction {
        .instruction-row {
            column-gap: 155px;
        }
        .instruction-end {
            .content {
                .desc {
                    font-size: 2.2rem;
                    padding: 79px 32px 26px 45px;
                    height: 85%;
                }
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .product-page_instruction {
        .container {
            --container-padding: 30px;
        }
        .instruction-row {
            .item {
                height: 120px;
                width: 120px;
            }
            column-gap: 120px;
            .item-content {
                font-size: 1.4rem;
                &::after {
                    font-size: 8rem;
                }
            }
        }
        .instruction-end {
            .content {
                .desc {
                    padding: 59px 32px 26px 45px;
                    font-size: 1.8rem;
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .product-page_instruction {
        margin-top: 30px;
        .instruction-header {
            .section-heading {
                font-size: 3.4rem;
            }
        }
        .instruction-row {
            flex-wrap: wrap;
            row-gap: 80px;

            .item-content {
                &::after {
                    left: -5px;
                    font-size: 7rem;
                }
            }
        }
        .instruction-end {
            padding-left: 50px;
            .content {
                justify-content: center;
                padding-left: 0px;
                .desc {
                    padding: 39px;
                    font-size: 1.6rem;
                    width: 100%;
                }
                .image {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .product-page_instruction {
        .instruction-row {
            gap: 100px;
        }
        .instruction-end {
            justify-content: flex-end;
        }
    }
}
@media screen and (max-width: 575px) {
    .product-page_instruction {
        .instruction-header {
            text-align: left;
        }
        .instruction-row {
            gap: 65px 300px;

            .item {
                height: 140px;
                width: 140px;
            }

            .item-content {
                &::after {
                    font-size: 1.4rem;
                    font-size: 8rem;
                }
            }
        }
        .instruction-end {
            margin-top: 50px;
        }
    }
}
